* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: #19b39c;
    padding: 35px 25px 80px 25px;
    text-align: center;
}
.line {
    display: inline-block;
    background-color: white;
    width: 95px;
    height: 3px;
    margin: 5px;
}
h1 {
    font-family: Georgia;
    text-transform: uppercase;
    color: white;
    padding: 0;
    margin: 0;
}
h2 {
    display: inline-block;
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}
h3 {
    font-family:'Lucida Sans';
    font-weight: 300;
}
h4 {
    font-weight: 300;
}
h3 > span {
    font-weight: bold;
}
header > p {
    font-size: 12px;
    color: #0b6657;
}
button {
    background-color: #f76841;
    border-radius: 18px;
    border: none;
    color: white;
    padding: 10px 35px;
    text-transform: uppercase;
}
.featureContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 50px;
}
.featureHeader {
    text-align: center;
}
.featureHeader > p {
    font-size: 13px;
    margin: 30px;
}
.featurePic {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.featurePic > i {
    font-size: 24px;
    border: #d9d9d9 solid 3px;
    border-radius: 100%;
    text-align: center;
    background-color: #f8f9fb;
    padding: 20px;
}
.description {
    font-size: 13px;
}
.orangeFeatureContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #f76841;
    color: white;
}
.whitePicLeft {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    border: #f59e85 solid 1px;
    padding: 0 0 0 50px;
}
.whitePicRight {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    border: #f59e85 solid 1px;
    padding: 0 50px 0 0;
}
.whitePicLeft > i, .whitePicRight > i {
    font-size: 40px;
    padding: 20px;
}
.fa-solid.fa-cloud-arrow-down {
    padding: 20px 8px 20px 20px;
}
.fa-solid.fa-globe {
    padding: 20px 9px 20px 20px;
}
.quoteContainer {
    display: flex;
    margin: 15px 150px;
}
.orangeText {
    color: #f76841;
}
.quoteContainer > i {
    font-size: 55px;
    text-align: center;
    color: #ababab;;
}
.fas.fa-user-circle {
    padding: 20px 20px 0px 0px;
}
.fa-solid.fa-quote-left {
    padding: 15px 10px 0px 0px;
}
.quoteP {
    color: #ababab;
    font-style: italic;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px 35px 50px;
    row-gap: 15px;
    background-color: #424345;
}
nav > a, nav > span {
    text-decoration: none;
    color: #a0a1a3;
    font-size: 13px;
}
.activeHome {
    color: #1bb59d;
}